.b {
    margin: 8px;
    color: black; 
    background-color: aqua;
    cursor: pointer;
}

.input-style {
    color: rgb(0, 4, 255);
    margin: 5px;
    padding: 20px;

    & .quantity {
        width: 50px;
        color:blueviolet
    
    }

    & .price {
        width: 50px;
    }

}


input {
    color: black;
    margin: 5px;
    padding: 20px;
    width: 250px;

}

